@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    background: #ffffff;
/*    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25); */
}
#logo-1 {
    height: 25px;
    width: 63px;
    margin-top: 8px;
    margin-left: 340px;
    margin-bottom: 16px;
}
#logo-2 {
    height: 22px;
    width: 38px;
    margin-bottom: 15px;
}
#logo-3 {
    margin-left: 480px;
    margin-bottom: 19px;
}
.foto-tópic {
    margin-left: 340px
}

.fases{
  display: inline-flex;
}
.fase1{
  height: 272px;
  width: 256px;
  margin-left: 340px;
  background-color: #EEEEEE;
}
#tema {
    height: 144px;
    width: 256px;
    margin-right: -10px;
}
#price{
    font-size: 14px;
    color: #888888;
    font-weight: bolder;
    margin: 5%;
}
#description{
  font-size: 12px;
  margin-left: 12px;
  text-align: align;
  margin-top: 5px;
}
.fase2{
  height: 272px;
  width: 256px;
  margin-left: 92px;
  background-color: #EEEEEE;
}
.topicStyel{
  font-size: 25px;
  margin-left: 625px;
  font-weight: bolder;
}
#imagens2{
  margin-left: 340px;
}
.texto0{
  font-size: 18px;
  font-weight: bolder;
  margin-left: -320px;
}
.footer{
  display: inline-flex;
  background-color: #333333;
  margin-left: 340px;
  margin-top: 20px;
  height: 223px;
  width: 607px;
}
#maps{
  border-radius: 5px;
  width: 252px;
  margin-top: 25px;
  margin-left: 30px;
}
.endereco{
  color: #ffffff;
  font-size: 12px;
  text-align: justify;
  margin-left: 110px;
  padding-top: 20px;
  line-height: 12px;
  width: 200px;
}

#instagram{
  margin-radius: 5px;
  margin-left: -195px;
  margin-top: 150px;
}
#facebook{
  margin-radius: 5px;
  margin-left: 15px;
}
#whatsapp{
  margin-radius: 5px;
  margin-left: 15px;
}